.lcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:3rem;
   height: 100vh;
}

.home-btn{
    width: 70px;
    height: 40px;
    background-color: #305566;
    color: white;
    border-radius: 4px;
}